<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lizikj.cron.dao.mapper.cron.CronClientMapper">
  <resultMap id="BaseResultMap" type="com.lizikj.cron.dao.model.cron.CronClient">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="host" jdbcType="VARCHAR" property="host" />
    <result column="port" jdbcType="INTEGER" property="port" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, host, port, status
  </sql>
  
  <insert id="insert" parameterType="com.lizikj.cron.dao.model.cron.CronClient">
    insert into cron_client (id, name, host, 
      port, status)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{host,jdbcType=VARCHAR}, 
      #{port,jdbcType=INTEGER}, #{status,jdbcType=TINYINT})
  </insert>
  
  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from cron_client
    where status = #{status,jdbcType=TINYINT}
  </select>
</mapper>