<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lizikj.resource.provider.dao.mapper.ITMediaMapper">
  <resultMap id="BaseResultMap" type="com.lizikj.resource.provider.dao.model.Media">
    <id column="id" jdbcType="INTEGER" property="id" />
      <result column="type" jdbcType="VARCHAR" property="type" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="path" jdbcType="VARCHAR" property="path" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="qiniuKey" jdbcType="VARCHAR" property="qiniuKey" />
      <result column="account" jdbcType="VARCHAR" property="account" />
      <result column="source" jdbcType="VARCHAR" property="source" />
  </resultMap>
  <sql id="Base_Column_List">
    id,name,type,path,create_time,qiniuKey,account,source
  </sql>
  <!--插入数据-->
  <insert id="insert" parameterType="com.lizikj.resource.provider.dao.model.Media">
    insert into t_media (id, type, name,
      path, createTime,qiniuKey,account,source)
    values (
     #{id,jdbcType=INTEGER},
     #{type,jdbcType=VARCHAR},
     #{name,jdbcType=VARCHAR},
      #{path,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
      #{qiniuKey,jdbcType=VARCHAR},
      #{account,jdbcType=VARCHAR},
      #{source,jdbcType=VARCHAR})
  </insert>
    <!--根据ID获取media-->
  <select id="findOne" parameterType="java.lang.Long" resultType="com.lizikj.resource.provider.dao.model.Media">
    SELECT
    <include refid="Base_Column_List"/>
    FROM t_media
    WHERE id=#{id}
  </select>
    <!--根据ID集合获取所有media-->
  <select id="findByIds" resultType="java.util.List" parameterType="java.util.List">
    select
    <include refid="Base_Column_List"/>
    from t_media
      WHERE id  IN
      <foreach collection="list" item="id" index="index"
               open="(" close=")" separator=",">
          ${id}
      </foreach>
  </select>
</mapper>